name: Push Client Image
on:
  push:
    branches:
      - main

jobs:
  push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: nixbuild/nix-quick-install-action@v31
        with:
          nix_conf: |
            download-buffer-size = 524288000
            accept-flake-config = true
            substituters = https://cache.nixos.org/ https://cache.garnix.io/ https://nix-community.cachix.org
            trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
            narinfo-cache-positive-ttl = 3600

      - name: Wait for Garnix Image Build
        uses: ./.github/actions/wait-for-garnix
        with:
          package: 'docker-psyche-solana-client [x86_64-linux]'

      - name: Download image from Garnix cache
        run: |
          nix build .#docker-psyche-solana-client --no-link --print-out-paths > image-path.txt

      - name: Push image to Docker Hub
        run: scripts/push-client-image.sh
        env:
          DOCKER_REPOSITORY: ${{ vars.DOCKERHUB_REPO }}
          REGISTRY_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
          REGISTRY_PASSWORD: ${{ secrets.DOCKER_DEPLOY_KEY }}
