name: Decentralized integration tests in self-hosted Runner

on:
  workflow_dispatch: # Allows manual triggering
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  decentralized-integration-test:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run decentralized integration test
        run: |
          nix develop --command bash -c "USE_GPU=1 USE_PYTHON=1 just decentralized-integration-tests"
