name: Decentralized integration tests in self-hosted Runner

on:
  workflow_dispatch: # Allows manual triggering
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  decentralized-integration-test:
    runs-on: self-hosted
    needs: build-validator

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Validator Image from cache
        id: cache-validator
        uses: actions/cache/restore@v4
        with:
          path: validator-image.tar.gz
          key: validator-image-${{ runner.os }}-${{ hashFiles('architectures/decentralized/solana-coordinator/**/*.rs', 'architectures/decentralized/solana-coordinator/**/*.toml', 'architectures/decentralized/solana-coordinator/Cargo.lock', 'architectures/decentralized/solana-authorizer/**/*.rs', 'architectures/decentralized/solana-authorizer/**/*.toml', 'architectures/decentralized/solana-authorizer/Cargo.lock', 'docker/test/psyche_solana_validator_entrypoint.sh', 'nix/docker.nix', 'flake.lock') }}
          fail-on-cache-miss: true

      - name: Load Validator Image
        run: |
          echo "Loading validator image from cache"
          docker load < validator-image.tar.gz
          docker images | grep psyche-solana-test-validator

          echo "Disk usage after loading validator"
          df -h

      - name: Clean up validator tar file
        run: |
          # Remove the compressed validator image to free up disk space
          rm -f validator-image.tar.gz
          echo "Disk usage after removing validator tar"
          df -h
            # Wait for Garnix right before downloading from Garnix cache

      - name: Wait for Garnix checks
        uses: ./.github/actions/wait-for-garnix
        with:
          action-name: 'package docker-psyche-solana-test-client [x86_64-linux]'

      - name: Download Solana Test Client Python Image
        run: |
          echo "Disk space before client build"
          df -h

          # Calculate the derivation hash
          echo "Calculating derivation path"
          DRV_PATH=$(nix eval --raw .#docker-psyche-solana-test-client.drvPath)
          echo "Derivation path: $DRV_PATH"

          OUT_PATH=$(nix derivation show $DRV_PATH | jq -r '.[].outputs.out.path')
          echo "Output path: $OUT_PATH"

          # download from Garnix cache first
          echo "Attempting to fetch from Garnix cache"
          nix-store --realise $OUT_PATH --option substitute true --option max-jobs 0

          # Load the image into Docker
          $OUT_PATH | docker load

          echo "Disk space after client build"
          df -h

      - name: Stop Docker containers
        run: docker stop $(docker ps -aq) || true

      - name: Run decentralized integration test
        run: |
          nix develop --command bash -c "USE_GPU=1 USE_PYTHON=1 just decentralized-integration-tests"
